<div class="container mt-4">
<h2> <i class="fa-solid fa-calendar-days text-success"></i> Order History</h2>

<div class="d-flex border rounded-4 p-3 justify-content-between align-items-center my-5 ">
<div>
    <h4>Order ID # 1020 </h4>
</div>
<div>
    <span class="text-secondary">21.abr.2025</span>
</div>
<div>
    <!-- <button class="btn btn-outline-success mb-2">Delivered</button> -->
     <p class="btn delivered">Delivered</p>
    <p>Total: <span class="text-secondary">200 EGP</span> </p> 
</div>
<a routerLink="/orderdetails1">
    <div>
    <button class="btn btn-outline-secondary">View Details</button>
</div>
</a>
</div>


<div class="d-flex border rounded-4 p-3 justify-content-between align-items-center my-5">
<div>
    <h4>Order ID # 1021 </h4>
</div>
<div>
    <span class="text-secondary">21.abr.2025</span>
</div>
<div>
    <!-- <button class="btn btn-outline-warning mb-2">Pending</button> -->
     <p class="btn pending">Pending</p>


    <p>Total: <span class="text-secondary">95 EGP</span> </p> 
</div>
<a routerLink="/orderdetails2">
    <div>
    <button class="btn btn-outline-secondary">View Details</button>
</div>
</a>
</div>


<div class="d-flex border rounded-4 p-3 justify-content-between align-items-center my-5">
<div>
    <h4>Order ID # 1022 </h4>
</div>
<div>
    <span class="text-secondary">21.abr.2025</span>
</div>
<div>
    <!-- <button class="btn btn-outline-info mb-2">Cancelled </button> -->
     <p class="btn cancel">Cancelled</p>
    <p>Total: <span class="text-secondary">55 EGP</span> </p> 
</div>
<a routerLink="/orderdetails3">
    <div>
    <button class="btn btn-outline-secondary">View Details</button>
</div>
</a>
</div>
</div>