<div class="container-fluid p-0">
    <div class="main-wrapper">

        <div class="row g-0">

            <main class="col-lg-7 p-4 p-lg-5 main-content-col">
                <h2 class="fw-bold display-6">Get in Touch</h2>
                <p class="text-secondary fs-6 mt-1">We're here to help. Send us a message or find our contact details below.</p>
                
                <div class="row mt-5">
                    
                    <div class="col-md-6 mb-5 mb-md-0">
                        
                        <form [formGroup]="contactForm" (ngSubmit)="submit()" novalidate>
                            
                            <div class="mb-3">
                                <label for="full-name" class="form-label">Full Name</label>
                                <input type="text" id="full-name" class="form-control rounded-3" placeholder="Ahmed Ali" 
                                       formControlName="fullName" 
                                       [class.is-invalid]="submitted && f['fullName'].errors"
                                       [class.is-valid]="submitted && !f['fullName'].errors"> 
            
                                <div *ngIf="submitted && f['fullName'].errors" class="invalid-feedback">
                                    <div *ngIf="f['fullName'].errors['required']">Full name is required.</div>
                                    <div *ngIf="f['fullName'].errors['minlength']">Must be at least 3 characters.</div>
                                </div>
                            </div>
                            
                            <div class="mb-3">
                                <label for="email" class="form-label">Email Address</label>
                                <input type="email" id="email" class="form-control rounded-3" placeholder="you@example.com" 
                                       formControlName="email"
                                       [class.is-invalid]="submitted && f['email'].errors"
                                       [class.is-valid]="submitted && !f['email'].errors">
                                <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                                    <div *ngIf="f['email'].errors['required']">Email is required.</div>
                                    <div *ngIf="f['email'].errors['email']">Please enter a valid email.</div>
                                </div>
                            </div>
                            
                            <div class="mb-3">
                                <label for="phone" class="form-label">Phone Number (Optional)</label>
                                <input type="tel" id="phone" class="form-control rounded-3" placeholder="+20 11 56840284"
                                       formControlName="phone"
                                       [class.is-invalid]="submitted && f['phone'].errors"
                                       [class.is-valid]="submitted && !f['phone'].errors">
                                </div>
                            
                            <div class="mb-3">
                                <label for="subject" class="form-label">Subject</label>
                                <input type="text" id="subject" class="form-control rounded-3" placeholder="Question about my order" 
                                       formControlName="subject"
                                       [class.is-invalid]="submitted && f['subject'].errors"
                                       [class.is-valid]="submitted && !f['subject'].errors">
                                <div *ngIf="submitted && f['subject'].errors" class="invalid-feedback">
                                    <div *ngIf="f['subject'].errors['required']">Subject is required.</div>
                                    <div *ngIf="f['subject'].errors['minlength']">Must be at least 3 characters.</div>
                                </div>
                            </div>
                            
                            <div class="mb-3">
                                <label for="message" class="form-label">Your Message</label>
                                <textarea id="message" rows="5" class="form-control rounded-3" placeholder="Write your message here..." 
                                          formControlName="message"
                                          [class.is-invalid]="submitted && f['message'].errors"
                                          [class.is-valid]="submitted && !f['message'].errors"></textarea>
                                <div *ngIf="submitted && f['message'].errors" class="invalid-feedback">
                                     <div *ngIf="f['message'].errors['required']">Message cannot be empty.</div>
                                     <div *ngIf="f['message'].errors['minlength']">Must be at least 5 characters.</div>
                                </div>
                            </div>
                            
                            <button type="submit" class="btn btn-success w-100 py-3 fw-bold mt-2 rounded-3">Send Message</button>
                        </form>
                    </div>

                    <div class="col-md-6 ps-md-5">
                        <h3 class="fw-bold fs-4">Our Information</h3>
                        <div class="mt-4 d-flex flex-column gap-4">
                            <div class="d-flex align-items-start gap-3">
                                <div class="info-icon-wrapper">
                                    <i class="fa-solid fa-phone"></i>
                                </div>
                                <div>
                                    <h4 class="fw-bold fs-6">Call Us</h4>
                                    <a href="tel:+201156840284" class="text-secondary text-decoration-none">+20 11 56840284</a>
                                </div>
                            </div>
                             <div class="d-flex align-items-start gap-3">
                                <div class="info-icon-wrapper">
                                    <i class="fa-solid fa-envelope"></i>
                                </div>
                                <div>
                                    <h4 class="fw-bold fs-6">Email Us</h4>

                                    <a href="mailto:support&#64;Pharmacare.com" class="text-secondary text-decoration-none">support&#64;Pharmacare.com</a>
                                </div>
                            </div>
                            <div class="d-flex align-items-start gap-3">
                                <div class="info-icon-wrapper">
                                    <i class="fa-solid fa-location-dot"></i>
                                </div>
                                <div>
                                    <h4 class="fw-bold fs-6">Visit Us</h4>
                                    <p class="text-secondary m-0">123 Health St, Banha City, Egypt</p>
                                </div>
                            </div>
                            <div class="d-flex align-items-start gap-3">
                                <div class="info-icon-wrapper">
                                    <i class="fa-solid fa-clock"></i>
                                </div>
                                <div>
                                    <h4 class="fw-bold fs-6">Opening Hours</h4>
                                    <p class="text-secondary m-0">Monday-Friday: 9:00 AM - 6:00 PM</p>
                                    <p class="text-secondary m-0">Friday: Closed</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>

            <aside class="col-lg-3 bg-light p-4 right-sidebar-col">
                 <h3 class="fw-bold fs-5">Featured Medicines</h3>
                 <div class="row row-cols-2 g-3 mt-2">
                    <div class="col">
                        <div class="card h-100 text-center border-0 shadow-sm rounded-3">
                            <img src="/imgs/paracetamol.jpg" class="card-img-top p-2 rounded-top-3" alt="Medicine1">
                            <div class="card-body p-2">
                                <h4 class="card-title fs-6 fw-semibold">Paracetamol</h4>
                                <p class="card-text small text-secondary">500mg</p>
                                
                            </div>
                        </div>
                    </div>
                     <div class="col">
                        <div class="card h-100 text-center border-0 shadow-sm rounded-3">
                            <img src="/imgs/ibuprofen.jpg" class="card-img-top p-2 rounded-top-3" alt="Medicine2">
                            <div class="card-body p-2">
                                <h4 class="card-title fs-6 fw-semibold">Ibuprofen</h4>
                                <p class="card-text small text-secondary">200mg</p>
                                
                            </div>
                        </div>
                    </div>
                     <div class="col">
                        <div class="card h-100 text-center border-0 shadow-sm rounded-3">
                            <img src="/imgs/aspirin.png" class="card-img-top p-2 rounded-top-3" alt="Medicine3">
                            <div class="card-body p-2">
                                <h4 class="card-title fs-6 fw-semibold">Aspirin</h4>
                                <p class="card-text small text-secondary">50mg</p>
                                
                            </div>
                        </div>
                    </div>
                     <div class="col">
                        <div class="card h-100 text-center border-0 shadow-sm rounded-3">
                            <img src="/imgs/loratadine.jpg" alt="">
                            <div class="card-body p-2">
                                <h4 class="card-title fs-6 fw-semibold">Loratadine</h4>
                                <p class="card-text small text-secondary">30mg</p>
                                
                            </div>
                        </div>
                    </div>
                 </div>
            </aside>
        </div>
    </div>
</div>