<div class="container mt-4 ">
<h2> <i class="fa-solid fa-circle-info text-success"></i> Order Details</h2>


<div class="border rounded-4 p-4 mt-4">
    <div class="w-50 ">
    <div class="d-flex border rounded-4 p-3 justify-content-between align-items-center my-3 ">
<div>
    <h4>Order ID # 1020 </h4>
</div>
<div>
    <span class="text-secondary">21.abr.2025</span>
</div>
<div>
     <p class="btn delivered">Delivered</p>
    <p>Total: <span class="text-secondary">200 EGP</span> </p> 
</div>

</div>
</div>

    <div class="w-100 border rounded-4">
    
<table class="table">
    <thead >
       <tr>
        <th>Product Name</th>
        <th>Quantity</th>
        <th>Price</th>
       </tr>
    </thead>
    <tbody>
        <tr>
        <td>Pandol extra 1000</td>
        <td>2</td>
        <td>200 EGP</td>
       </tr>
    </tbody>
</table>
</div>
</div>


</div>