.request-container {
  width: 380px;
  margin: auto;
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 0 10px #ddd;
}

label {
  display: block;
  margin-top: 12px;
  font-weight: 600;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.location-btn {
  width: 100%;
  background: #2578ff;
  color: white;
  padding: 10px;
  border-radius: 8px;
  margin-top: 5px;
  border: none;
}

.location-box {
  margin-top: 10px;
  padding: 10px;
  background: #f3f3f3;
  border-radius: 8px;
}

.radio-group label {
  display: flex;
  gap: 8px;
  margin-top: 8px;
}

.submit-btn {
  width: 100%;
  margin-top: 20px;
  background: #2578ff;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 10px;
  font-weight: 600;
}

/* Switch */
.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 22px;
  margin-left: 10px;
}

.switch input { display: none; }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: #ccc;
  border-radius: 22px;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2578ff;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 2px;
  bottom: 2px;
  background: white;
  border-radius: 50%;
  transition: .4s;
}

input:checked + .slider:before {
  transform: translateX(24px);
}
