
<div class="main-page-container">

    

    <main class="request-medicine-form">
        <h1 class="main-title">Request Medicine</h1>

        <div class="form-section">
            <label>Drug Name</label>
            <input type="text" formControlName="drugName" class="input" />
        </div>

        <div class="form-section">
            <label>Dosage</label>
            <select formControlName="dosage" class="input">
                <option value="1mg">1mg</option>
                <option value="2mg">2mg</option>
                <option value="5mg">5mg</option>
                <option value="20g">20g</option>
                <option value="25mg">25mg</option>
                <option value="30mg">30mg</option>
                <option value="50mg">50mg</option>
                <option value="100mg">100mg</option>
                <option value="400mg">400mg</option>
                <option value="500mg">500mg</option>
                <option value="600mg">600mg</option>
                <option value="1000mg">1000mg</option>
            </select>
        </div>

        <div class="form-section">
            <label>Quantity</label>
            <input type="number" formControlName="quantity" class="input" />
        </div>

        <div class="form-section alternative-switch-container">
            <label>Accept alternative medicine?</label>
            <label class="switch">
                <input type="checkbox" formControlName="acceptAlternative" />
                <span class="slider"></span>
            </label>
        </div>

        <div class="form-section">
            <label>Your Location</label>
            <button class="location-btn" (click)="useMyLocation()">Use My Location</button>
            <div class="map-box">
                <img src="https://cdn-icons-png.flaticon.com/512/854/854878.png" class="pin" />
                <span>{{ address }}</span>
            </div>
        </div>

        <div class="form-section">
            <label>Delivery Method</label>
            <div class="radio-group">
                <label>
                    <input type="radio" value="pickup" formControlName="deliveryMethod" />
                    Pick up from pharmacy
                </label>
                <label>
                    <input type="radio" value="delivery" formControlName="deliveryMethod" />
                    Home delivery
                </label>
            </div>
        </div>

        <div class="form-section">
            <label>Phone (if delivery):</label>
            <input type="text" formControlName="phone" class="input" />
        </div>

        <div class="form-section file-upload-container">
            <label>Upload Prescription (optional)</label>
            <input type="file" (change)="onFileSelected($event)" />
        </div>

        <button class="submit-btn" (click)="submitRequest()">SUBMIT REQUEST</button>

    </main>

    <aside class="col-lg-3 bg-light p-4 right-sidebar-col">
                 <h3 class="fw-bold fs-5">Featured Medicines</h3>
                 <div class="row row-cols-2 g-3 mt-2">
                    <div class="col">
                        <div class="card h-100 text-center border-0 shadow-sm rounded-3">
                            <img src="/imgs/paracetamol.jpg" class="card-img-top p-2 rounded-top-3" alt="Medicine1">
                            <div class="card-body p-2">
                                <h4 class="card-title fs-6 fw-semibold">Paracetamol</h4>
                                <p class="card-text small text-secondary">500mg</p>
                                
                            </div>
                        </div>
                    </div>
                     <div class="col">
                        <div class="card h-100 text-center border-0 shadow-sm rounded-3">
                            <img src="/imgs/ibuprofen.jpg" class="card-img-top p-2 rounded-top-3" alt="Medicine2">
                            <div class="card-body p-2">
                                <h4 class="card-title fs-6 fw-semibold">Ibuprofen</h4>
                                <p class="card-text small text-secondary">200mg</p>
                                
                            </div>
                        </div>
                    </div>
                     <div class="col">
                        <div class="card h-100 text-center border-0 shadow-sm rounded-3">
                            <img src="/imgs/aspirin.png" class="card-img-top p-2 rounded-top-3" alt="Medicine3">
                            <div class="card-body p-2">
                                <h4 class="card-title fs-6 fw-semibold">Aspirin</h4>
                                <p class="card-text small text-secondary">50mg</p>
                                
                            </div>
                        </div>
                    </div>
                     <div class="col">
                        <div class="card h-100 text-center border-0 shadow-sm rounded-3">
                            <img src="/imgs/loratadine.jpg" alt="">
                            <div class="card-body p-2">
                                <h4 class="card-title fs-6 fw-semibold">Loratadine</h4>
                                <p class="card-text small text-secondary">30mg</p>
                                
                            </div>
                        </div>
                    </div>
                 </div>
            </aside>
</div>