.card {
  width: 100%;         
  max-width: 100%;     
  margin: 0;           
  padding: 20px;
  border-radius: 0;     
  background: white;
  box-shadow: none;    
  font-family: Arial, sans-serif;
}


.title {
  font-size: 22px;
  margin-bottom: 15px;
  font-weight: bold;
}

label {
  margin-top: 15px;
  font-size: 14px;
  display: block;
}

.input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-top: 5px;
  font-size: 15px;
}

/* Toggle Switch */
.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 22px;
  margin-top: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  background-color: #ccc;
  border-radius: 20px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: .2s;
}

.slider:before {
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;
  left: 2px;
  bottom: 2px;
  border-radius: 50%;
  background: white;
  transition: .2s;
}

input:checked + .slider {
  background-color: #007bff;
}

input:checked + .slider:before {
  transform: translateX(22px);
}

/* Map Box */
.map-box {
  margin-top: 10px;
  padding: 10px;
  background: #f7f7f7;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.pin {
  width: 25px;
  height: 25px;
}

/* Radio */
.radio-group {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

/* Buttons */
.location-btn,
.submit-btn {
  width: 100%;
  padding: 12px;
  margin-top: 12px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
}

.location-btn {
  background: #2c6cff;
}

.submit-btn {
  background: #1565df;
}
